*{box-sizing: border-box;}

body{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    width: 100%;
    margin: auto;
    height: auto;
}

.col-1{ width: 8.33% }
.col-2{ width: 16.66% }
.col-3{ width: 25% }
.col-4{ width: 33.33% }
.col-5{ width: 41.66% }
.col-6{ width: 50% }
.col-7{ width: 58.33% }
.col-8{ width: 66.66% }
.col-9{ width: 75% }
.col-10{ width: 83.33% }
.col-11{ width: 91.66% }
.col-12{ width: 100% }

[class*='col-'] {
    border: 1px solid;
    float: left;
}

.row:after{
    content: '';
    clear: both;
    display: block;
}


.header-height {height: 250px ;}
.menu-height {height: 50px ;}
.content-height {height: 600px ;}
.big-footer-height {height: 300px ;}
.footer-height {height: 40px ;}


ul{
    margin:0px;
    padding: 0px;
    list-style-type:none;
}

ul li{
    float: left;
    width: 20%;
    border:1px solid gray;

}

ul li a {
    text-decoration: none;
    display: block;
    background-color: black;
    color: white;
    height: 46px;
    text-align:center;
    padding-top:15px;
    transition: color 2s;
    border-radius:0px 0px 60px 60px ;
}

ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 60px 60px 0px 0px ;
}

.box-one{
    height: 200px;
    width: 400px;
    background-color: green;
    margin:50px;

    float :left;
}
.box-two{
     height: 150px;
     width: 150px;
     background-color: red;

    border-radius: 50% ;
    padding-top: 30;
    float left ;
    margin-left: 120px;
    margin-top: 20px;

 }

.box-three{
    height:100px;
    width:200px;
    background-color: red;
    border-radius: 100px 100px 0px 0px;
    margin:20px;
    float:left;
}
.box-four{
    height:100px;
    width:200px;
    background-color: red;
    border-radius: 0px 0px 100px 100px;
    margin:20px;
    float:left;
}
.box-five{
    height:200px;
    width:100px;
    background-color: red;
    border-radius: 0px 100px 100px 0px;
    margin:20px;
    float:left;
}
.box-six{
    height:200px;
    width:100px;
    background-color: red;
    border-radius: 100px 0px 0px 100px;
    margin:20px;
    float:left;
}
.div-one{
    height: 200px;
    width: 20px;
    background-color: red;
    float: left;
    margin: 65px 10px 5px 50px;
    /*transform: rotate(0deg) scale(1);*/
    transform: skewX(-30deg);

    /*transform: rotate(45deg);*/
    transition: 2s;

}
/*.div-one:hover{*/

    /*!*transform: rotate(360deg)   scale(1.5);*!*/
    /*transform: skewY(30deg);*/
/*}*/

.div-two{
    height: 200px;
    width: 20px;
    background-color: red;
    float: left;
    margin: 65px 50px 50px 100px;
    /*transform: rotate(0deg) scale(1);*/
    transform: skewX(30deg);

    /*transform: rotate(45deg);*/
    transition: 2s;

}
/*.div-two:hover{*/

    /*!*transform: rotate(360deg)   scale(1.5);*!*/
    /*transform: skewY(-30deg);*/
/*}*/
.div-three{
    height: 20px;
    width: 200px;
    background-color: red;
    float: left;
    margin-top: 150px;
    margin-left:-225px;
    /*transform: rotate(0deg) scale(1);*/
    transform: skewX(30deg);


}
.div-A{
    height: 200px;
    width:100px;
    border: 1px solid red ;
    border-radius: 0px 100px 100px 0px;
    margin:50px;
    float:left;
}
.div-B{
    height: 200px;
    width:100px;
    border: 1px solid red ;
    border-radius: 0px 100px 100px 0px;
    margin:50px;
    float:left;
}
.div-C{
    height: 200px;
    width:100px;
    border: 1px solid red ;
    border-radius: 0px 100px 100px 0px;
    margin:50px;
    float:left;
}
.div-D{
    height: 200px;
    width:100px;
    border: 1px solid red ;
    border-radius: 0px 100px 100px 0px;
    margin:50px;
    float:left;
}