.div-one{
    height: 300px;
    width: 350px;
    border: 1px solid gray;
}

.red{
    background-color: red;

}
.green{
    background-color: green;

}
.blue{
    background-color: blue;

}
.default{
    background-color: white;

}

.demo{
    border-radius: 100px ;
}