$bgColor: blue ;
$height :100px;


.demo{
  height: 100px;
  width:100px ;
  background-color: $bgColor;
}
.demo1{
  height: 100px;
  width:100px ;
  background-color: $bgColor;
}
.demo2{
  height: 100px;
  width:100px ;
  background-color: $bgColor;
}
.demo3{
  height: 100px;
  width:100px ;
  background-color: $bgColor;
}